<form [formGroup]="calculadoraDesgravacio" (ngSubmit)="submit()">
    
    <label formGroupName="importInvertits">
        <p>Import Pla de Pensions Persona:
            <input type="number" formControlName="importPersona" required>
        </p>
    
        <p>Import Pla de Pensions Empresa:
            <input type="number" formControlName="importEmpresa" required>
        </p>
    
        <p>Import Pla de Pensions Autonom:
            <input type="number" formControlName="importAutonom" required>
        </p>
    </label>

    
    <br>
    <p>Base Imponible:
        <input type="number" formControlName="baseImponible">
    </p>
    <br>
    <button type="submit">Confirmar</button>
</form>
<div>{{missatge}}{{resultado}}</div>